/* code for exercise 04-flex */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-item{
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 1px;
    background-color:purple;
    color:white;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

/* code for exercise 05-flex */
.flex-container-columns{
    display: flex;
    height: 200px;
    flex-flow:column-reverse wrap-reverse;
}

.flex-item1{
    order: 10;
}

/* code for exercise 06-grid */
.grid-container{
    display: grid;
    gap: 1px;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 75px 75px 75px 75px;
}

div.grid-item.grid-item5 {
    grid-row: span 2;
    grid-column: span 3;
    order: -1;
}

div.grid-item.grid-item7 {
    grid-row: span 1;
    grid-column: span 4;
    order: 0;
}

div.grid-item.grid-item9 {
    grid-row: span 1;
    grid-column: span 3;
    order: 0;
}

.grid-item{
    background-color: purple;
    color: white;
    font-size: xx-large;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.grid-item5{
    
}

/* code for exercise 07-bootstrap-grid */

/* code for exercise 07-bootstrap-form */
