/* code for exercise 04-flex */
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div{
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 1px;
    background-color:purple;
    color:white;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
/* code for exercise 05-flex */

/* code for exercise 06-grid */

/* code for exercise 07-bootstrap-grid */

/* code for exercise 07-bootstrap-form */
