/* code for exercise 04-flex */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div{
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 1px;
    background-color:purple;
    color:white;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
/* code for exercise 05-flex */
.flex-container-columns{
    display: flex;
    height: 200px;
    flex-flow:column-reverse wrap-reverse;
}

.flex-item1{
    order: 10;
}

/* code for exercise 06-grid */

/* code for exercise 07-bootstrap-grid */

/* code for exercise 07-bootstrap-form */
